<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="_content/Root/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="_content/Root/css/app.css" rel="stylesheet" />    
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="TimeUntilWeb.styles.css" />
    <HeadOutlet @rendermode="@RenderMode.InteractiveAuto" />
</head>

<body>
    <Routes @rendermode="@RenderMode.InteractiveAuto" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Root/js/lottie-player.js"></script>
</body>

</html>
