@page "/"

<div class="text-center">
    <h1>Countdown to Beth's Retirement</h1>
    <h4>@timeUntil</h4>
         
    <lottie-player src="/animations/lottie_hourglass.json" background="transparent" speed="1"
                    style="width: 300px; height: 300px; align-content: center; margin: 0 auto;" loop autoplay />
    
</div>



@code {
    private static System.Timers.Timer aTimer;
    private DateTime retirementDate = new DateTime(2027, 10, 20);
    private string timeUntil;

    protected override void OnInitialized()
    {
        StartTimer();
    }

    public void StartTimer()
    {
        aTimer = new System.Timers.Timer(1000);
        aTimer.Elapsed += CountDownTimer;
        aTimer.Enabled = true;    
        
    }

    public void CountDownTimer(Object source, System.Timers.ElapsedEventArgs e)
    {
        TimeSpan remainingTime = retirementDate - DateTime.UtcNow;
        if (remainingTime > TimeSpan.Zero)
        {   
            if (remainingTime.Days > 365) {
                timeUntil = $"{remainingTime.Days / 365} Years, {remainingTime.Days % 365} Days, {remainingTime.Hours} Hours, {remainingTime.Minutes} Minutes, {remainingTime.Seconds} Seconds";
            } else
            {
                timeUntil = $"{remainingTime.Days} Days, {remainingTime.Hours} Hours, {remainingTime.Minutes} Minutes, {remainingTime.Seconds} Seconds";
            }
        }
        else
        {
            timeUntil = "Retired!";
            aTimer.Enabled = false;
        }
        InvokeAsync(StateHasChanged);
    }
}
